/node_modules
app/models/tutorial.model.js
app/routes/user.routes.js
app/routes/tutorial.routes.js
app/models/user.model.js
app/controllers/user.controller.js
app/controllers/tutorial.controller.js
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vent2u-mysql.iml
.idea/workspace.xml
