/node_modules
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vent2u-mysql.iml
.idea/workspace.xml
app/config/db.config.js
